.bg-arrow_left {
    width: 14px; height: 14px;
    background: url('../images/css_sprites.png') -48px -0;
}

.bg-arrow_right {
    width: 14px; height: 14px;
    background: url('../images/css_sprites.png') -48px -14px;
}
.bg-facebook {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -0 -0;
}
.bg-linkedin {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -24px -0;
}
.bg-rss {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -0 -24px;
}
.bg-twitter {
    width: 24px; height: 24px;
    background: url('../images/css_sprites.png') -24px -24px;
}