$body-bg-color: #fff;

*{
    margin:0;
		padding: 0;
		list-style: none;
}
body{
		margin:0 auto;
		width: 1027px;
		padding: 40px;
		background-color:#fff; 
		font-family:Arial, Helvetica, sans-serif;
}
.background_image{
    position: absolute;
    top:0;
    margin:0, auto;
    background: url('../images/world_map.png') no-repeat; 
    height: 100%;
    width: 1024px;
    opacity: 0.1;
    z-index: -1;

}
.header{
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.logo{
	cursor: pointer;
    width: 176px;
    height: 40px;
    background: url('../images/openlogic.png') no-repeat;
    float: left;
}
.header_nav{
	font-family: Arial;
	font-size:13px;
	color: #848c94;
	float:right;
	margin-top:14px;
	z-index:150;
	 ul{
		list-style: none;
	 }

		&_item{
			float: left;
			margin-right:25px;
			position: relative;
			cursor:pointer;

				&:hover{
					font-weight: 700;
					color:#ae3b44;
				}		
			}			
		&_sub_list{
			height: 91px;
			width: 145px;
			visibility: hidden;
			position: absolute;
			margin-left:-100%;
			opacity:0;
			transition: opacity 1s ease-out;
			
			&:before{
				position: relative;
				top:0;
				left:calc(50% - 5px);
				content: "";
				display:block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 4.5px 3px 4.5px;
				border-color: transparent transparent #272626 transparent;
			}

				&_item{
					color: #848c94;
					font-size: 12px;
					font-weight: 500;    
					padding: 7px 0 7px 12px;
					border-bottom: 1px solid #232525; 
					background-color: #272626;
					position: relative;
					transition: color 0.6s;					
						&:hover{
							color:#fff;
							&:before{
								position: absolute;
								top:10px;
								right:-100%;
								content: "";
								display:block;
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 4.5px 0 4.5px 3px;
								border-color: transparent transparent transparent #272626;
						}
						}
				}
		}
.sub_list_third_level{
	position: absolute;
	height: 91px;
	width: 145px;    
	display: none;
	opacity:0;
	left:155px;
	top:0;
		&_item{
			color: #848c94;
			font-size: 12px;
			padding: 7px 0 7px 12px;
			border-bottom: 1px solid #232525; 
			background-color: #272626; 
				&:hover{
					color:#fff;
					}
				}
		}
	}
.header_nav_item:hover .header_nav_sub_list{
	opacity: 1;	
	visibility: visible;	
	}
.header_nav_sub_list:hover{
    color:#fff;
}
.header_nav_sub_list_item:hover .sub_list_third_level{
	opacity: 1;	
	display:block;
}
.sub_list_third_level:hover
{
    display:block;
}

/*BANNER*/
.banner{
	width: 1027px;
	overflow: hidden;
	position: relative;

		&_item{ 
			list-style: none;
			margin:0;
			float: left;
			display:flex;
			justify-content: space-between;
			align-items: center;
		&_img{
			height: 128px;
			width: 245px;
			background: url('../images/banner_img.png') no-repeat;
		}
		&_name {
			font-size: 24px;
			font-weight: 300;
			color: #edf2f5;
			background-color: #ae3b44;
			padding: 0 35px 0 30px;
			width: 180px;
		}
		&_text{
			font-size: 12px;
			line-height: 1.5;
			width: 500px;
			padding-right: 37px;
		}
	}
	.arrow_slider{
		position: absolute;
		right: 0;
		bottom: 0;
		float: right;
		padding: 0 30px 50px 0;
		z-index: 10;
			span{
				color: #edf2f5;
				font-size: 16px;
				font-weight: 800;
				margin: 0 5px;
				&:hover{
					cursor: pointer;
				}
			}
	}
	#banner_ul{
    width: 9999px;
    border-top: 7px black solid;
    height: 128px;    
    margin: 30px 0 37px 0;
    background-color: #ae3b44;
		transition: transform 2s;
}
}

main{
	display:flex;
	justify-content: space-between;}
/* CUSTOM MENU*/
.custom_menu{
    width: 245px;
		border-right: 1px solid #f1f1f0;
			&_item {
				a{
					font-family: Arial, Helvetica, sans-serif;
					font-size: 12px;
					padding: 13px ;
					width: 219px;
					border-bottom: 1px solid #f1f1f0;
					cursor: pointer;
					display: block;
						&:hover{
							color:#ae3b44;
						}
						&:active{
							&:after{
								position: relative;
								top:-25px;
								right: -100%;
								content: "";
								display:block;			
								width: 0;
								height: 0;
								margin-bottom: -9px;
								border-style: solid;
								border-width: 4.5px 0 4.5px 3px;
								border-color: transparent transparent transparent #ae3b44;			
							}
							background-color: #ae3b44;    
							color:white;
						}
				}
			}
			
			&_sub{
				position: relative;
				left:0;
				width: 240px;
				display: none;
		}
		&_sub-item a{
				width: 205px;
				position: relative;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 12px;
				padding: 13px 0 13px 40px;
				background-color: #f4f7f8;
				color:#3c3c3c;
				border-bottom: 1px solid #f1f1f0;
		}
}

.menu_third_level{
    display: none;
}
.sub_custom_menu_third_level a{
    width: 185px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 13px 0 13px 60px ;
    position: relative;
    background-color: #eaeaea;
}
.custom_menu_item:hover .custom_menu_sub{
    display: block;
}
.custom_menu_sub-item:hover .menu_third_level{
    display: block;
}
.custom_menu_header{
    width: 219px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px 13px;
    background: url('../images/line.png')no-repeat;
    border-bottom: 1px solid #f1f1f0;
}
.header_article{
	height: 80px;
	width: 734px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	border-bottom: 1px solid #f1f1f0;

		&_name{
			width: 420px;
			font-size: 24px;
			font-weight: 300;
			padding-bottom: 30px;
		}
		&_date{
			color:#aeafb0;
			height: 80px;
			width: 80px;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			background-image: url("../images/lines.png");
				p{
					align-self: center;
					font-size:10px;					
					&:first-child{
						font-size: 17px;
					}
				}				
		}
		&_subscribe{
			padding:26px 0 26px 0;
			font-size: 15px;
			color:#909293;
			font-style: italic;
			border-bottom: 1px solid #f1f1f0;
			line-height: 1.5
		}
}
.content{
	width:734px;
	text-align: justify;
	margin-left: 36px;
}
section{
	padding-right: 26px;
}
.text_article{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    padding: 0 0 30px 0;
	border-bottom: 1px solid #f1f1f0;		
		&_img img{
			border-bottom: 7px black solid;
		}
		.main{
			display: block;
			height: 287px; 
			width: 490px;
			margin: 30px auto;
		}
		.sub_img{
			margin: 30px 30px 30px 0;
			float:left;
		}
		&_tools{
			display: block;
			color: #ae3b44;
			text-decoration: none;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 15px;
			margin-top: 26px;
		}
}
.pagination{
    padding: 26px 0;
    color:#ae3b44;
    font-size:15px;
		display: flex;
		justify-content: space-between;
			&_img_arrow{
				display: flex;
				justify-content: space-between;					
			}
			.pagination_prev, .pagination_next{
				display: flex;
				justify-content: space-between;
				div{
					height: 14px;
					width: 14px;
				}
			}
			.prev{
				margin-right: 20px;				
				background: url('../images/arrow_left.png') no-repeat;
			}
			.next{
				margin-left: 20px;
				background: url('../images/arrow_right.png') no-repeat;
			}
			
}
.clients{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
    	border-bottom: 1px solid #f1f1f0;
		border-top: 1px solid #f1f1f0;			
			a{	
				font-size: 18px;
				text-decoration: none;
				color:black;
				margin: 30px 40px;
				filter: grayscale(0.5);
					&:first-child{
						align-self: center;
					}
					&:hover{
						filter: grayscale(0);
						transition: filter 0.3s;
					}
			}
}

.footer{
    color:#f8f8f8;
		height: 175px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
			&_quick_link,
			&_security_privacy{
				margin: 26px 0 26px 0;
				color:#b0b0b0;
				section{
					display: flex;
					justify-content: space-between;
					ul{
						margin-right: 80px;
						&:last-child{
							margin-right:0;
						}
					}					
				}
				&_item{
					font-size: 12px;
					line-height: 1.5;
					color: #dedede;
					&:hover{
						color:#b0b0b0;
					}
				}
			}
			&_social{
				margin: 26px 30px;
				color:#b0b0b0;
				ul{
					display: flex;
					justify-content: space-between;
				}
				&_links_item{					
					filter: grayscale(100%);
					filter: opasity(0.1);
					width:24px;
					height: 24px;
					margin: 0 3px;
						&:hover{
							filter: grayscale(0);
							cursor: pointer;
						}
					}
					.twitter{
						background-image: url('../images/twitter.png');
					}
					.facebook{
							background-image: url('../images/facebook.png');
					}
					.linkedin{
							background-image: url('../images/linkedin.png');
					}
					.rss{
							background-image: url('../images/rss.png');
					}
				}
				p:last-child{
					margin-top: 26px;
					font-size: 10px;
				}
				h4{
					font-weight: 300;
					margin-bottom: 26px;
				}	
				a{
					cursor: pointer;
				}			
			}

