$body-bg-color: #fff;

*{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	margin:0 auto;
	width: 100%;
	max-width: 1027px;
	background-color:#fff; 
	font-family:Arial, Helvetica, sans-serif;
	@media screen and (max-width: 786px){
		padding:10px;
	}
}
.background_image{
	position: absolute;
	top:0;
	margin:0 auto;
	background: url('../images/world_map.png') no-repeat; 
	height: 100%;
	width: 100%;
	max-width: 1027px;
	opacity: 0.1;
	z-index: -1;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:20px;
}
.logo{
	cursor: pointer;
	max-width: 176px;
	height: auto;
	background: url('../images/openlogic.png') no-repeat;
		@media screen and (max-width: 786px){
			display: block;
			margin: 0 auto;
		}
}
.header_nav{
	font-size:13px;
	z-index:150;
	@media screen and (max-width: 786px){
		display: block;
		margin: 0 auto;
	}
	&_item{
		float: left;
		margin-right:25px;
		position: relative;
		cursor:pointer;		
	}	
	a{
		color: #848c94;
			&:hover{
				color:#ae3b44;				
			}
		}		
	&_sub_list{
		height: 91px;
		width: 145px;
		visibility: hidden;
		position: absolute;
		left:-100%;
		opacity:0;
		transition: opacity 1s ease-out;
		a{
			color: #848c94;
				&:hover{
					color:#fff;				
				}
			}
		&:before{
			position: relative;
			top:0;
			left:calc(50% - 5px);
			content: "";
			display:block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 4.5px 3px 4.5px;
			border-color: transparent transparent #272626 transparent;
		}

			&_item{
				font-size: 12px;
				font-weight: 500;    
				padding: 7px 0 7px 12px;
				border-bottom: 1px solid #232525; 
				background-color: #272626;
				position: relative;
				transition: color 0.6s;					
					&:hover{
						a{
							color:#fff;
						}						
						&:before{
							position: absolute;
							top:10px;
							right:-3px;
							content: "";
							display:block;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 4.5px 0 4.5px 3px;
							border-color: transparent transparent transparent #272626;
					}
					}
			}
	}
.sub_list_third_level{
	position: absolute;
	height: 91px;
	width: 145px;    
	visibility: hidden;
	opacity:0;
	left:150px;
	top:0;
	ul{
		&:first-child{
			&:before{
				position: absolute;
				top:10px;
				left:0;
				content: "";
				display:block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4.5px 0 4.5px 3px;			
				border-color: transparent transparent transparent #fff;
			}			
		}
	}	
		&_item{
			font-size: 12px;
			padding: 7px 0 7px 12px;
			border-bottom: 1px solid #232525; 
			background-color: #272626;
			a{
				color: #848c94;
			} 
				&:hover a{
					color:#fff;
					}
					
				}
		}
	}
.header_nav_item:hover .header_nav_sub_list{
	opacity: 1;	
	visibility: visible;	
	}
.header_nav_sub_list:hover{
    color:#fff;
}
.header_nav_sub_list_item:hover .sub_list_third_level{
	opacity: 1;	
	visibility: visible;	
}
.sub_list_third_level:hover
{
    display:block;
}

/*BANNER*/
.banner{
	max-width: 1027px;
	width: 100%;
	overflow: hidden;
	position: relative;

		&_item{ 
			margin:0;
			max-width: 1027px;
			float: left;
			display:flex;
			justify-content: space-between;
			align-items: center;
		&_img{
			height: auto;
			max-width: 245px;
			background: url('../images/banner_img.png') no-repeat;
				img{
				max-width: 100%;
				}
		}
		&_name {
			font-size: 24px;
			font-weight: 300;
			color: #edf2f5;
			background-color: #ae3b44;
			padding: 0 35px 0 30px;
			max-width: 180px;
			width: 100%;
		}
		&_text{
			font-size: 12px;
			line-height: 1.5;
			max-width: 500px;
			width: 100%;
			padding-right: 37px;
		}
	}
	.arrow_slider{
		position: absolute;
		right: 0;
		bottom: 0;
		float: right;
		padding: 0 30px 50px 0;
		z-index: 10;
			span{
				color: #edf2f5;
				font-size: 16px;
				font-weight: 800;
				margin: 0 5px;
				&:hover{
					cursor: pointer;
				}
			}
	}
	#banner_ul{
    width: 9999px;
    border-top: 7px black solid;
    height: 128px;    
    margin: 30px 0 37px 0;
    background-color: #ae3b44;
		transition: transform 2s;
}
}

main{
	display:flex;
	justify-content: space-between;}
/* CUSTOM MENU*/
.custom_menu{
		min-width: 245px;
		width: 100%;
		border-right: 1px solid #f1f1f0;
		
		&_item {
			a{
				position: relative;
				color:#3c3c3c;
				cursor: pointer;
				font-size: 12px;
				display: block;
				padding: 13px;
				border-bottom: 1px solid #f1f1f0;
				&:active{
					&:after{
						position: absolute;
						top:13px;
						right: -3px;
						content: "";
						display:block;			
						width: 0;
						height: 0;
						margin-bottom: -9px;
						border-style: solid;
						border-width: 4.5px 0 4.5px 3px;
						border-color: transparent transparent transparent #ae3b44;			
					}
				}
				&:hover{
					color:#ae3b44;
				}
			}				
		}			
		&_sub {
			position: relative;
			left:0;
			max-width: 100%;
			display: none;
		}
		&_sub-item a{
				position: relative;
				font-size: 12px;
				padding: 13px 0 13px 40px;
				background-color: #f4f7f8;
				border-bottom: 1px solid #f1f1f0;
		}
		&_third_level{
			display: none;
				a{
					padding: 13px 0 13px 60px;
					position: relative;
					background-color: #eaeaea;
				}
		}
		&_header{
			font-size: 18px;
			padding: 10px 13px;
			background: url('../images/line.png')no-repeat;
			border-bottom: 1px solid #f1f1f0;
	}
}
.custom_menu_item:hover .custom_menu_sub{
    display: block;
}
.custom_menu_sub-item:hover .custom_menu_third_level{
    display: block;
}

.header_article{
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	border-bottom: 1px solid #f1f1f0;

		&_name{
			max-width: 420px;
			width: 100%;
			font-size: 24px;
			font-weight: 300;
			padding-bottom: 30px;
		}
		&_date{
			color:#aeafb0;
			height: 80px;
			width: 80px;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			background-image: url("../images/lines.png");
				p{
					align-self: center;
					font-size:10px;					
					&:first-child{
						font-size: 17px;
					}
				}				
		}
		&_subscribe{
			padding:26px 0 26px 0;
			font-size: 15px;
			color:#909293;
			font-style: italic;
			border-bottom: 1px solid #f1f1f0;
			line-height: 1.5
		}
}
.content{
	text-align: justify;
	margin-left: 36px;
}
section{
	padding-right: 26px;
}
.text_article{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    padding: 0 0 30px 0;
	border-bottom: 1px solid #f1f1f0;		
		&_img img{
			border-bottom: 7px black solid;
		}
		.main{
			display: block;
			height:auto; 
			max-width: 490px;
			width: 100%;
			margin: 30px auto;
		}
		.sub_img{
			margin: 30px 30px 30px 0;
			float:left;
		}
		&_tools{
			display: block;
			color: #ae3b44;
			text-decoration: none;
			font-size: 15px;
			margin-top: 26px;
		}
}
.pagination{
    padding: 26px 0;
    color:#ae3b44;
    font-size:15px;
		display: flex;
		justify-content: space-between;
			&_img_arrow{
				display: flex;
				justify-content: space-between;					
			}
			.pagination_prev, .pagination_next{
				display: flex;
				justify-content: space-between;
				div{
					height: 14px;
					width: 14px;
				}
			}
			.prev{
				margin-right: 20px;				
				background: url('../images/arrow_left.png') no-repeat;
			}
			.next{
				margin-left: 20px;
				background: url('../images/arrow_right.png') no-repeat;
			}
			
}
.clients{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
    	border-bottom: 1px solid #f1f1f0;
		border-top: 1px solid #f1f1f0;			
			a{	
				font-size: 18px;
				text-decoration: none;
				color:black;
				margin: 30px 40px;
				filter: grayscale(0.5);
					&:first-child{
						align-self: center;
					}
					&:hover{
						filter: grayscale(0);
						transition: filter 0.3s;
					}
			}
}

.footer{
    color:#f8f8f8;
		height: 175px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
			&_quick_link,
			&_security_privacy{
				margin: 26px 0 26px 0;
				color:#b0b0b0;
				section{
					display: flex;
					justify-content: space-between;
					ul{
						margin-right: 80px;
						&:last-child{
							margin-right:0;
						}
					}					
				}
				&_item{
					font-size: 12px;
					line-height: 1.5;
					color: #dedede;
					&:hover{
						color:#b0b0b0;
					}
				}
			}
			&_social{
				margin: 26px 30px;
				color:#b0b0b0;
				ul{
					display: flex;
					justify-content: space-between;
				}
				&_links_item{					
					filter: grayscale(100%);
					filter: opasity(0.1);
					width:24px;
					height: 24px;
					margin: 0 3px;
						&:hover{
							filter: grayscale(0);
							cursor: pointer;
						}
					}
					.twitter{
						background-image: url('../images/twitter.png');
					}
					.facebook{
							background-image: url('../images/facebook.png');
					}
					.linkedin{
							background-image: url('../images/linkedin.png');
					}
					.rss{
							background-image: url('../images/rss.png');
					}
				}
				p:last-child{
					margin-top: 26px;
					font-size: 10px;
				}
				h4{
					font-weight: 300;
					margin-bottom: 26px;
				}	
				a{
					cursor: pointer;
				}			
			}

